<% title t("views.badges.meta.title") %>

<div class="blank-space"></div>
<main class="badges-page crayons-layout px-4 m:px-9 gap-0">
  <h1 class="crayons-title"><%= t("views.badges.heading") %></h1>
  <p class="crayons-subtitle-2 description pb-4"><%= t("views.badges.desc") %></p>
  <div id="badges-container"
    data-badges="<%= @badges %>"
    data-categories="<%= @badge_categories %>">
  </div>
</main>
<%= javascript_packs_with_chunks_tag "badgeDashboard", defer: true %>
